.Card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 20px 20px 40px;
    width: 23rem;
    border: 1px solid #70c6cc;
    border-radius: 15px;
}

.Card p {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 4%;
    flex-direction: row;
}

.Card h1 {
    color: #07dae9;
    font-size: 25px;
    background-color: #f364ba;
    border-radius: 15px 15px 0 0;
    text-align: center;
    font-weight: bold;
}

.Card a {
    position: static;
    margin: 44%;
    font-size: 30px;
    text-decoration: none;
    color: #f364ba;
    background-color: #d0eef0;
    border: 1px solid #70c6cc;
    padding: 5px;
    box-shadow: 1px 1px 0 0 #70c6cc;
    border-radius: 5px;
}

.Card img {
    max-width: 60%;
    max-height: calc(100% - 50px);
    width: auto;
    height: auto;
    border-radius: 15px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}
